<div class="container">
    <div class="row">
            <button class="btn btn-dark" (click)="getAllUser()"><h4>Get API</h4></button>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">UserId</th>
                    <th scope="col">Title</th>
                    <th scope="col">Detail</th>
            
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    @for(user of userData; track $index ){

                    <td>{{user.userId}}</td>
                    <td>{{user.title}}</td>
                    <td>{{user.body}}</td>
                    }
                  </tr>
                 
                </tbody>
              </table>
            <!-- @for(user of userData; track $index ){

                <div class="text-center">
                    <h5>{{user | json}}</h5>
                    
                </div>
            } -->
        </div>
    </div>